.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

body {
  background-color: #282c34;
  font-family: "Roboto Slab", serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ruda", sans-serif;
  background: -webkit-linear-gradient(top, #4b77f7, #c34b93);
  -webkit-background-clip: text;
  -webkit-text-stroke: 4px transparent;
  padding: 2px;
}

.body {
  color: white;
}

header {
  align-items: center;
  display: flex;
  margin: 0.3em;
}

#logo,
nav {
  flex: 1;
}

nav ul {
  display: flex;
  justify-content: left;
}

nav li {
  color: #cccccc;
  list-style: none;
  margin: 0 1rem;
  cursor: pointer;
  padding: 5px;
}

nav li:hover {
  color: white;
  border-bottom: 0.5px solid white;
}

.css-grid-base {
  color: white;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-row-gap: 1rem;
}
